/* Results.module.css */

/* Main container for products */
.products__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
    justify-items: center;
  }
  